SUPABASE_DB_URL=jdbc:postgresql://db.xxxxxxxx.supabase.co:5432/postgres
SUPABASE_DB_PASSWORD=030606@maidz001
SUPABASE_JWT_SECRET=arywFL443hMnda5UqofJQvfaEEscfk6ocQTum8YcxscH6nRyUaWKkZhC2imVcE84TFGAGfhmu+h0YNwJ9tiuVg==
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=030606@maidz001
NOTIFICATION_EMAIL=your_email@gmail.com
